<div class="todo new">
  <h2>Create todo</h2>

  <%= form_for(:todo, :url => {:action => 'create'}) do |f| %>
      <div class="row">
        <div class="large-8 columns">
            <%= error_messages_for(@todo) %>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns">
              <span class="inline"><%= f.label(:title) %></span>
            </div>
            <div class="small-9 columns">
              <%= f.text_field(:title) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns">
              <span class="inline"><%= f.label(:description) %></span>
            </div>
            <div class="small-9 columns">
              <%= f.text_area(:description) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse prefix-radius">
            <div class="small-3 columns">
              <span class="inline"><%= f.label(:deadline) %></span>
            </div>
            <div class="small-9 columns inline-datetime">
              <%= f.datetime_select(:deadline) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
            <%= submit_tag("Create todo", :class => 'radius button') %>
        </div>
      </div>
  <% end %>
</div>

